.listitem {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-bottom: 1px solid var(--mantine-color-dark-4);
    &:last-child {
        border: none;
    }

    &[data-hovered] {
        background-color: var(--mantine-primary-color-light);
        color: #fff;
    }

}

.installation {
}